@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color:rgba(250, 250, 250, 0.463);
  font-family: 'Times New Roman', Times, serif;
  /* background-image: url('https://matthiasfriedrich.gallerycdn.vsassets.io/extensions/matthiasfriedrich/visualbasictoolsforvisualstudio/1.6.6/1505850909956/133093/1/description-editor.png'); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-size: cover;
  font-size: 15px;
  line-height: 28px;
}

/* .parent { */
  /* background-color: rgb(35, 143, 57); */
  /* height: 500pxpx; */
  /* width: 2000pxpx; */
/* } */

/* .child { */
  /* background-color: rgba(250, 250, 250, 0.941); */
  /* height: 50%; */
  /* width: 50%; */
  /* transition: transform 1s; */
/* } */


h1 {
  color: rgb(50, 50, 50);
  font-size: 20px;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: rgb(52, 117, 92);
  font-weight: 800;
  font-size 20px;
}

a:hover {
  color: rgb(50,50,50);
}

h2 {
 font-family:'Open Sans', sans-serif;
 color: rgb(35, 143, 57),

}

.card-white {
  background: rgba(250, 250, 250, 0.941);
  border: 500px;
  border-radius: 25px;
  padding: 10px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  /* transition: 1s linear; */
}



.image-cirle {
  border-radius: 20px;
  box-sizing: border-box;
  transition: transform ease-in 0.2s;
}

.image-cirle:hover {
  transform: scale(1.05);
}

.linkedin-github {
  display: inline-block;
  padding: 0px 20px;
}

#follow-me {
  font-size: 15px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card-white {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card-white {
    width: 300px;
  }
}

/* .parent:hover .child { */
  /* transform: translateX(100%); */
/* } */

/* button { */
  /* display: block; */
  /* background-image: url('https://lastapostle.files.wordpress.com/2015/04/code.jpeg'); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
/* } */
